<div><B>Subject:</B> {{{post.subject}}}</div>
<div><B>Author:</B> {{post.author.fullName}}</div>
<div><B>Posted:</B> {{formatDate post.created "%B %e, %Y %-l:%M%p"}}</div>
<div><B>Body:</B></div>
<div>{{{post.body}}}</div>